
.header{
    padding: 25px;
    text-align: center;
    background: rgb(0, 0, 0);
    color: whitesmoke;
}

.nav{
    display: flex;
    background-color: #333;
    justify-content: space-evenly;
    padding: 15px;
}

.nav a{
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
}

.nav a:hover{
    background-color: gray;
    color: black;
}

.row{
    display: flex;
}

.side{
    flex: 30%;
    background-color: blue;
}

.maincontent{
    flex: 70%;
    background-color: red;
}

.footer{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
}