
.header{
    padding: 25px;
    text-align: center;
    background: rgb(0, 0, 0);
    color: whitesmoke;
}

.nav{
    display: flex;
    background-color: #333;
    justify-content: space-evenly;
    padding: 15px;
}

.nav a{
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
}

.nav a:hover{
    background-color: gray;
    color: black;
}

.row{
    display: flex;
}

.side{
    flex: 15%;
    background-color: blue;
}

.maincontent{
    margin: auto;
    flex: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50em;
}

.products{
    margin: 10px;
    text-align: center;
    border: black solid 3px ;
    background-color: black;
    color: whitesmoke;
}

.products img{
    border: black solid 1px;
    height: 200px;
    width: auto;
}

.products a{
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
}

.products a:hover{
    background-color: gray;
    color: black;
}

.footer{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
}