
.header{
    padding: 45px;
    text-align: center;
    background: rgb(117, 212, 229);
    color: whitesmoke;
}

.nav{
    display: flex;
    background-color: #333;
    justify-content: space-evenly;
    padding: 15px;
}

.nav a{
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
}

.nav a:hover{
    background-color: gray;
    color: black;
}