<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Game Store Page</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <div class="header">
        <h1>List of Games</h1>
    </div>
    <div class="nav">
        <h2><a href="/">Home</a> </h2>
        <h2> <a href="/games">Games Index</a> </h2>
    </div>

</body>
<div class="footer">
</div>

</html>