<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Game Store Page</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <div class="header">
        <h1>List of Games</h1>
    </div>
    <div class="nav">
        <a href="/">Home</a>
        <a href="/games ">Game Store Page</a>
    </div>

</body>
<div class="footer">
</div>

</html>