<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Game Store Page</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <div class="header">
        <h1>List of Games</h1>
    </div>
    <div class="nav">
        <a href="/">Home</a>
        <a href="/merch">Merch Page</a>
        <a href="/games/cart">Games Cart</a>
    </div>
    <div class="row">
        <div class="maincontent">
            <% games.forEach(games=> { %>
                <div class="products">
                    <a href="/games/<%= games._id %>">
                        <%= games.title %><br>
                            <img src="<%= games.img %>" /> <br>
                            Price: $<%=games.price%><br>
                    </a>

                </div>
                <% }) %>
        </div>
    </div>

</body>
<div class="footer">
    <h3> <a href="/games/new">Add a New Game</a></h3>
    </form>
</div>

</html>