<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Game Store Page</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <div class="header">
        <h1>List of Games</h1>
    </div>
    <div class="nav">
        <a href="/">Home</a>
    </div>
    <div class="row">
        <div class="side">
            <p>CONTENT</p>
        </div>
        <div class="maincontent">
            <ul>
                <% for(let i=0; i < games.length; i++){ %>
                    <li>
                        <a href="/games/<%= games[i]._id %>">
                            <%= games[i].title %>
                        </a>
                    </li>
                    <% } %>
                        <li>
                            <a href="/games/new">Add a New Game</a>
                        </li>
            </ul>
        </div>
    </div>
</body>
<div class="footer">
    <h1> FOOTER</h1>
</div>

</html>