<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Express Blog</title>
</head>

<body>
    <header>
        <h1>Create an New Game</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/games">Game Index</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/games" method="POST">
            Game Title: <input type="text" name="title" /><br>
            Game Image: <input type="text" name="img" /><br>
            Game Description: <input type="text" name="description"  /><br>
            Game Developer: <input type="text" name="developer"  /><br>
            Game Genres: <input type="text" name="genres"  /><br>
            Game Available Platforms: <input type="text" name="platforms"  /><br>
            Game Price :<input type="number" name="price"  /><br>
            Game Quantity Available<input type="number" name="qty"  /><br>
            <input type="submit" value="Update Games" />
        </form>
    </main>
</body>

</html>