<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Express Blog</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="header">
        <h1>Create an New Game</h1>
    </div>
    <div class="nav">
        <a href="/">Home</a>
        <a href="/games">Game Index</a>
    </div>
    <div class="forms">
        <form action="/games" method="POST">
            Game Title: <input type="text" name="title" placeholder="Enter Game's Title Here" /><br>
            Game Image: <input type="text" name="img" placeholder="Enter Game's Image Link" /><br>
            Game Description: <input type="text" name="description" placeholder="Enter Game's Description Here" /><br>
            Game Developer: <input type="text" name="developer" placeholder="Enter Game's Developer Here" /><br>
            Game Genres: <input type="text" name="genres" placeholder="Enter Game's Genres Here" /><br>
            Game Available Platforms: <input type="text" name="platforms"
                placeholder="Enter Game's Available Platforms Here" /><br>
            Game Price:<input type="number" name="price" placeholder="Enter Game's Price Here" /><br>
            Game Quantity Available:<input type="number" name="qty" placeholder="Enter Game's Quantity Here" /><br>
            <input type="submit" value="Update Games" />
        </form>
    </div>
</body>

</html>